<html>
	<head>
		<title>LOST</title>
<style>
table, th, td{
	border: 1px solid black;
}
</style>
	</head>
	<body>
		<h2>Current facilities</h2>
		<table>
			<tr>
				<th>FACILITY NAME</th>
				<th>FACILITY CODE</th>
			</tr>
			{% for item in items %}
				<tr>
					<td>{{item.0}}</td>
					<td>{{item.1}}</td>
				</tr>
			{% endfor %}
		</table>
		<h2>Add a facility</h2>
		<form action = "{{url_for('add_facility')}}", method="POST">
			Common name<br><input type = "text", name = "common_name" /><br>
			Facility code<br><input type = "text", name = "fcode" /><br>
			<input type = "submit", name = "submit" /><br>
		</form>
		<p>{{status}}</p><br>
		<form action="{{url_for('dashboard')}}", method="GET">
			<input type = "submit", name = "back", value="back">
		</form>
	</body>
</html>
