<html>
	<body><h1>LOST</h1>
		<p>{{status}}<br>
		Currently logged in as: {{session['user']}}</p>
		
		<form action="{{url_for('approve_req')}}", method="POST">
			<button name = "approval_result" type = "submit" value = "Approve">Approve</button>
			<button name = "approval_result" type = "submit "value = "Reject">Reject</button>
			<input name = "asset_tag" type = "hidden" value = "{{request.0}}">
		</form>
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>SRC FCODE</th>
				<th>DST FCODE</th>
			</tr>
			{% for request in requests %}
			<tr>
				<td>{{request.0}}</td>
				<td>{{request.1}}</td>
				<td>{{request.2}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
