<html>
	<head>
		<title>LOST</title>
<style>
table, th, td{
	border: 1px solid black;
}
</style>
	</head>
	<body>
		<h2>Asset Report Screen</h2>
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>ARRIVAL DATE</th>
				<th>FCODE</th>
			</tr>
			{% for item in items %}
				<tr>
					<td>{{item.0}}</td>
					<td>{{item.1}}</td>
					<td>{{item.2}}</td>
				</tr>
			{% endfor %}
		</table>
		<h2>Generate report</h2>
		Filter Facility
		<select name="facility_list" form = "filter_report">
			<option value="All">All</option>
			{% for elem in facilities %}
			<option value={{elem.0}}>{{elem.0}}</option>
			{% endfor %}
		</select><br>
		<form action = "{{url_for('asset_report')}}", method = "POST", name = "filter_report", id="filter_report">
			Asset Tag<br><input type = "text", name = "asset_tag" /><br>
			Arrival Date<br><input type = "date", name = "date" /><br>
			<input type = "submit", name = "submit" /><br>
		</form>
		<p>{{status}}</p><br>
		<form action="{{url_for('dashboard')}}", method="GET">
			<input type = "submit", name = "back", value="back">
		</form>
	</body>
</html>
