<html>
	<head><title>LOST</title></head>
	<body><h1>Create a User</h1>
		<h2>Please enter your user information. All fields required.</h2>
		<p>{{error}}</p>
		 
		<form action = "{{url_for('create_user')}}", method="POST">
			<input type = "text" name = "username" placeholder = "Enter Username">
			<input type = "text" name = "password" placeholder = "Enter Password">
			<input type = "submit" name = "submit" /><br>
			<input type = "radio" name = "role" value = "Logistics Officer" checked> Logistics Officer
			<input type = "radio" name = "role" value = "Facilities Officer"> Facilities Officer
		</form>
		<form action = "{{url_for('index')}}", method="GET">
			<input type = "submit" value = "Return to LOST login page">
	</body>
</html>
