<html>
	<head>
		<title>LOST</title>
<style>
table, th, td{
	border: 1px solid black;
}

#wrapper {
	width:900px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#header {
	height:5%;
	background-color:#c0b283;
	width: 900px;
	text-align: center;
}

#header input {
	display: inline;
}

#nav {
	background-color: #373737;
	width:200px;
	height: 95%;
	float: left;
	padding-top:50px;
}

#content {
	height: 95%;
	background-color:#f4f4f4;
	width: 700px;
	float:left;
	text-align:center;
}

form {
	text-align: center;
}

form label, form input {
	display: inline-block;
	width:12em;
}
table {
	display: inline-block;
}

</style>
	</head>
	<body>
	<div id = "wrapper">
		<div id="header">
		<h1>LOST</h1>
		</div>
		<div id="nav">
		<form action="{{url_for('add_facility')}}", method="GET">
			<input type = "submit" value = "Add facility">
		</form>
		<form action="{{url_for('add_asset')}}", method="GET">
			<input type = "submit" value = "Add asset">
		</form>
		{% if session['role'] == "Logistics Officer" %}
		<form action="{{url_for('dispose_asset')}}", method="GET">
			<input type = "submit" value = "Dispose assset">
		</form>
		<form action="{{url_for('transit_req')}}", method="GET">
			<input type = "submit" value = "Transit Request">
		</form>
		{% endif %}
		<form action="{{url_for('asset_report')}}", method="GET">
			<input type = "submit" value = "Report Screen">
		</form>
		<form action="{{url_for('logout')}}", method="GET">
			<input type = "submit" value = "Logout">
		</form>
		</div>
		<div id ="content">
		<p>{{status}}<br>
		Currently logged in as: {{session['user']}}</p>
		<h3>Work to be done</h3>
		{% if session['role'] == "Logistics Officer" %}
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>SRC FCODE</th>
				<th>DST FCODE</th>
			</tr>
			{% for request in requests %}
			<tr>
				<td><a href="{{url_for('update_transit', asset_tag = request.0)}}">{{request.0}}</a></td>
				<td>{{request.1}}</td>
				<td>{{request.2}}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

		{% if session['role'] == "Facilities Officer" %}
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>SRC FCODE</th>
				<th>DST FCODE</th>
			</tr>
			{% for request in requests %}
			<tr>
				<td><a href="{{url_for('approve_req', asset_tag = request.0)}}">{{request.0}}</a></td>
				<td>{{request.1}}</td>
				<td>{{request.2}}</td>
			</tr>
			{% endfor %}
		</table>i
		{% endif %}
		</div>
	</div>
	</body>
</html>
