<html>
	<head><title>LOST</title></head>
	<body><h1>LOST login page</h1>
		<h2>Please enter your user credentials</h2>
		<p>{{status}}</p>
		<form action = "{{url_for('index')}}", method="POST">
			Username: <input type = "text" name = "username"/><br>
			Password : <input type = "text" name = "password" /><br>
			<input type = "submit" name ="submit" />
		</form>
	</body>
</html>
