<html>
	<head>
		<title>LOST</title>
<style>
table, th, td{
	border: 1px solid black;
}
</style>
	</head>
	<body>
		<h2>Current Assets</h2>
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>DESCRIPTION</th>
				<th>LOCATION</th>
				<th>ARRIVAL DATE</th>
			</tr>
			{% for item in items %}
				<tr>
					<td>{{item.0}}</td>
					<td>{{item.1}}</td>
					<td>{{item.2}}</td>
					<td>{{item.3}}</td>
				</tr>
			{% endfor %}
		</table>
		<h2>Initiate Transfer Request</h2>
		<form action = "{{url_for('transit_req')}}", method="POST", id = "transit_req">
			Asset Tag<br><input type = "text", name = "asset_tag" /><br>
			<input type = "submit", name = "submit" />
		</form>
		<p>Destination Facility</p>
		<select name="facility_list" form="transit_req">
			{% for elem in facilities %}
			<option value={{elem.0}}>{{elem.0}}</option>
			{% endfor %}
		</select>
		<form action = "{{url_for('dashboard')}}", method="GET">
			<input type = "submit", name = "back", value = "back">
		</form>

		<p>{{status}}</p>
	</body>
</html>
