<html>
	<body><h1>LOST</h1>
		<p>{{status}}<br>
		Currently logged in as: {{session['user']}}</p>
		
		<form action="{{url_for('update_transit')}}", method="POST">
			<input type = "date" name = "load_time">
			<input type = "date" name = "unload_time">
			<input type = "submit">
			<input name = "asset_tag" type = "hidden" value = "{{request.0}}">
		</form>
		<table>
			<tr>
				<th>ASSET TAG</th>
				<th>SRC FCODE</th>
				<th>DST FCODE</th>
			</tr>
			{% for request in requests %}
			<tr>
				<td>{{request.0}}</td>
				<td>{{request.1}}</td>
				<td>{{request.2}}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
